
.input{
	border:1px solid black;
	width:90px;
	height:22px;
}
form {	
	vertical-align:middle;}
	
#centre{
width:300px;
height:150px;
margin:100 auto;
padding:10px;
background:grey;
}

#query{
vertical-align:middle;
width:400px;
height:auto;
margin:100 auto;
padding:10px;
background:grey;
}